<p>
  <b>Title:</b>
  <%=h @holiday.title %>
</p>

<p>
  <b>Dateofholiday:</b>
  <%=h @holiday.dateofholiday %>
</p>


<%= link_to 'Edit', edit_holiday_path(@holiday) %> |
<%= link_to 'Back', holidays_path %>