#add_thought_form {
    padding-left:50px;
}
.thought_label_field {
    width:285px;
}
.thought_label_field label {
    font-weight:bold;
    display:block;
    color:#444;
    margin-bottom:10px;
}

.thought_content_text_field_bg {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    height: 148px;
    margin: 0 0 20px 0;
    padding: 10px;
    width:632px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    
}

#announcement_content {
    width:615px;
    height:260px;
    background:transparent;
    padding: 5px 0 0 10px;
    font-size:18px;
}

.thought_button {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-left:270px;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}